/*
	--------------
	APP STYLE
	--------------

*/

@font-face {
    font-family: 'MyAppDefaultFont';
    src:url('../fonts/Montserrat-Medium.ttf') format('truetype'),
    url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

* {
	margin:0;
	padding:0;
	color:white;
	box-sizing: border-box;
	font-family:'MyAppDefaultFont';
}


.app {
	width:100%;
	height:100vh;
	background: #181818;
}

.navbar {
	width: 100%;
	height: 10vh;
	display: grid;
	align-items:center;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .5);
}


.navbar .navbar-item {
	display: flex;
	justify-content: space-between;
	padding-right:10px;
	width:100%;
	align-items:center;
}

.navbar .navbar-item .brand {
	width:250px;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.navbar-item .brand img {
	width:42px;
}

.navbar .navbar-item p {
	font-size: 22px;

}

.navbar-item .info {

}

.navbar-item .info img {
	width:32px;
}

.content {
	width:100%;
	height:90vh;
}

/*	==========
	Content
	==========
*/

.content .button-box {
	width: 100%;
	height:8vh;
}

.button-box .box {
	height:100%;
	padding-left: 5px;
	padding-right:5px;
	display:grid;
	align-items: center;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap:10px;
}

.button-box .btn {
	height:45px;
	padding:.5rem;
	background:#405060;
	border:none;
	font-size:18px;
	border-radius: 5px;

}

.btn.active {
	background: #2c91d3;
}

/*
	Search
*/

.search-box {
	width:100%;
	height:8vh;
}

.search-box .box {
	height:100%;
	padding:10px 5px 5px 5px;
	display:grid;
	grid-template-columns: 1fr .1fr;
}

#SearchInput {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	outline:none;
	border:1px solid gray;
	background:#303030;
	padding-left:10px;
	color:white;
	font-size:18px;
}

#search-btn {
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	outline: none;
	background:#2c91d3;
	border: none;
	font-size:;
}


#search-btn img {
	width: 24px;
}

/* Alt kısımdaki beyazlığı yok eder */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #181818 !important;
}

.app {
    min-height: 100vh;
    background: #181818;
    display: flex;
    flex-direction: column;
}

/* 8 BUTONLU GRID */
.menu-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    padding: 15px;
}

/* BUTON KARTI */
.menu-card {
    background: rgba(35, 35, 35, 0.9);
    border: 1px solid rgba(44, 145, 211, 0.2);
    border-radius: 20px;
    padding: 25px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* YUVARLAK İKON ALANI */
.icon-wrapper {
    width: 65px;  /* Boyutu isteğine göre artırabilirsin */
    height: 65px;
    background: rgba(255, 255, 255, 0.05); /* Hafif beyaz zemin */
    border-radius: 50%; /* Kutu tam yuvarlak */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    overflow: hidden; /* Resim yuvarlağın dışına taşarsa keser */
    border: 1px solid rgba(44, 145, 211, 0.3); /* İsteğe bağlı ince kenarlık */
}

/* İÇİNDEKİ RESİM (IMG) AYARI */
.icon-wrapper img {
    width: 100%;    /* Yuvarlağın içini tam doldurur */
    height: 100%;   /* Yuvarlağın içini tam doldurur */
    object-fit: cover; /* Resmi bozmadan yuvarlağa sığdırır */
    border-radius: 50%; /* Resmin kendisini de yuvarlar */
}

.menu-card span {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}
/*
	words
*/

.words-box {
	width: 100%;
	height:74vh;
	overflow: auto;
	padding: 10px;
}

.words-box .word-item {
	width:100%;
	height: 60px;
	background: #252525;
	margin-top:10px;
	margin-bottom:10px;
	border-radius: 15px;
	display:grid;
	grid-template-columns: .1fr 1fr;
	grid-column-gap: 20px;
	align-items: center;
	padding-left: 10px;
	font-size:18px;
	border:1px solid #505050;
}


.selectel {
	width: 60px;
	height: 60px;
	position: fixed;
	right:50px;
	bottom:50px;
	border-radius: 50%;
	background:#f03333;
	border:none;
	display: flex;
	font-size: 28px;
	justify-content: center;
	align-items: center;
	text-align: center;
	animation: CloseBtnAnimation 2s infinite;
	display: none;
	z-index: -2;
}

@keyframes CloseBtnAnimation {
	50%{
		transform: scale(1.1);
	}
}

.words-box .word-item .word-box {
	display:grid;
	gap:5px;
}

.words-box .word-item .indexOf {
	color:gray;
}

.words-box .word-item .indexOf.hasSelected {
	color:#2c91d3;
	animation: havedItem 1s infinite;
}

@keyframes havedItem {
	50%{
		margin-left: 10px;
	}
}

.words-box .tm {
	color:gray;
}

.word-item.removedListItem {
	display: none;
}

@media screen and (max-width: 592px) {
	.content {
		overflow-y:auto !important;

	}

	.button-box .btn {
		font-size: 15px;
	}
}

@media screen and (max-width: 492px) {

	.navbar .navbar-item .brand p {
		font-size:16px;
		width: 150px;
	}

	.navbar-item .brand img {
		width: 38px;
	}

	.navbar-item .info img {
		width:28px;
	}


	.search-box {
		height: 10vh;

	}

	.content .button-box {
		height: 10vh;
	}

	#SearchInput {
		font-size: 14px;
	}

	.button-box .box {
		justify-items: center;
		z-index: 10;
	}

	.button-box .btn {
		font-size:12px;
	}

	.words-box{
		height: 70vh;
	}

	#DestroyBtn {
		height:50px;
		width: 50px;
		right: 40px;
		bottom:20px;
	}

}